.ModalTransaksi {
    width: 100%;
    height: 600px;
    background: #FAFAFA;
    padding: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

/* 
.ModalChild {
    background: #EBF1F7;
} */

.PrimaryModal__Data {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 34px;
    color: #1D1D1D;
}

.AllTransactions {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #1F3D61;
    width: 123px;
    height: 20px;
}

.SearchText {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #99A1B5;
}

.WrapperTransactions {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 6px;
    width: 166px;
    height: 36px;
    background: #EBF1F7;
    border: 1px solid #1F3D61;
    border-radius: 4px;
}

.WrapperSearch {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    gap: 6px;
    width: 249px;
    height: 35px;
    background: #EBF1F7;
    border: 1px solid #618BC0;
    border-radius: 10px;
}

.theadcell {
    border-radius: 30px !important;
}

.evenodd tr:nth-child(odd) {
    background-color: #EBF1F7;
}

.evenodd tr:nth-child(even) {
    background-color: #FFFFFF;
}

.datatable {
    margin-top: 30px;
    border-radius: 20px;
    border: 0;
    /* overflow-x: auto; */
}

.modal {
    margin-left: 120px;
}

.image {
    width: 10000px;
    height: 30px;
}

.paid {
    color: #42AD3A;
    border-radius: 50px;
    border: 1px solid #C4E6C2;
    background-color: #ECF7EB;
}

.pending {
    color: #E9C400;
    border-radius: 50px;
    border: 1px solid #F3DE71;
    background-color: #FCFAF1;
}

.cancel {
    color: #BA1717;
    border-radius: 50px;
    border: 1px solid #E2A1A1;
    background-color: #F9F2F2;
}