.blockfooter {
  background-color: #1f3d61;
  color: #e8f2fe;
  padding: 5em 0em 5em 0em;
  font-family: "Poppins";
}

.rowfooter {
  justify-content: center;
  align-items: center;
  padding: 0em 0em 0em 0em;
}

.logo {
  width: 90px;
  padding-bottom: 15px;
}

.columnone {
  padding-bottom: 15px;
  font-size: 11px;
}

.columnone div {
  cursor: pointer;
}

@media only screen and (max-width: 750px) {
  .columnone div {
    width: 10px;
    /* height: 3em; */
  }
}

.line {
  border: 2px solid #ebf1f7;
  width: 1px;
  height: 150px;
}
