.blockcarousel {
  font-family: "Poppins";
  align-items: center;
}

.mySwiper {
  align-items: center !important;
  justify-content: center !important;
  height: 500px;
  border-radius: 50px;
}

.active {
  width: 100%;
  height: 500px;
  border-radius: 50px;
  align-items: center;
  box-shadow: -1px 3px 12px 0px rgba(0, 0, 0, 0.75);
  position: absolute;
  z-index: 1;
}

.normal {
  width: 100%;
  height: 500px;
  border-radius: 50px;
  align-items: center;
  opacity: 0.5;
}

.dailystyle {
  position: absolute;
  z-index: 2;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* margin-left: 40px; */
  bottom: 0;
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 20px;
}

@media screen and (max-width: 750px) {
  .dailystyle {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.dailystyle h2,
.billsstyle h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  color: #fffae7;
}

.dailystyle div,
.billsstyle div,
.entertainmentstyle div {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #f8f8f8;
  letter-spacing: 0.5px;
  padding-bottom: 10px;
}

.dailystyle button {
  background: #284e7d;
  border-radius: 8px;
  padding: 8px 16px;
  width: 155px;
  height: 36px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #ebf1f7;
  border: none;
}

.billsstyle,
.entertainmentstyle {
  position: absolute;
  z-index: 2;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0px 20px 30px 20px;
  bottom: 0;
  padding: 10px;
  border-radius: 20px;
}

.entertainmentstyle h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  color: #fffae7;
}

@media screen and (min-width: 360px) {
  .swiper-container {
    width: 360px;
  }

  .dailystyle {
    margin-left: 60px;
  }
}

@media screen and (min-width: 1024px) {
  .swiper-container {
    width: 800px !important;
  }

  .dailystyle {
    margin-left: 37px;
  }
}

@media screen and (min-width: 1920px) {
  .swiper-container {
    width: 450px !important;
  }

  .dailystyle {
    width: 90% !important;
  }
}

@media screen and (min-width: 1536px) {
  .swiper-container {
    width: 450px !important;
  }

  .dailystyle {
    width: 90% !important;
  }
}
