.blockservice {
  background-color: #ebf1f7;
  padding: 2em;
  font-family: "Poppins";
  /* font-style: normal; */
}

.titleservice {
  justify-content: center;
}

.rowonecard {
  justify-content: center;
  text-align: center;
  padding-bottom: 1.5em;
}

.toMid {
  justify-content: center;
  text-align: center;
}

/* @media screen and (max-width: 1440px) {
    .rowonecard {
        width: 12rem;
    }
} */

.rowtwocard {
  justify-content: center;
  text-align: center;
}

.card {
  width: 18rem !important;
  height: 22rem !important;
  align-items: center;
  position: relative;
  padding: 25px;
  border-radius: 50px !important;
  box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 780px) {
  .card {
    width: 18rem;
    height: 25rem;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1280px) {
  .card {
    width: 12rem;
  }
}

@media screen and (max-width: 650px) {
  .card {
    width: 12rem;
  }
}

@media screen and (max-width: 1920px) {
  .card {
    width: 18rem;
    /* height: 22rem !important; */
  }
}