.blockservice {
    background-color: #EBF1F7;
    padding: 2em;
    font-family: 'Poppins';
    /* font-style: normal; */
}

.titleservice {
    justify-content: center;
}

.rowonecard {
    justify-content: center;
    text-align: center;
    padding-bottom: 1.5em;
}

.rowtwocard {
    justify-content: center;
    text-align: center;
}

.card {
    width: 18rem;
    align-items: center;
    position: relative;
    padding: 25px;
    border-radius: 50px !important;
    box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 650px) {
    .card {
        width: 12rem;
    }
}